<?xml version="1.0"?>
<config>
    <modules>
        <MageWare_CustomerLockdown>
            <version>1.1.0.0</version>
        </MageWare_CustomerLockdown>
    </modules>
    <global>
        <models>
            <customerlockdown>
                <class>MageWare_CustomerLockdown_Model</class>
                <resourceModel>customerlockdown_resource</resourceModel>
            </customerlockdown>
            <customerlockdown_resource>
                <class>MageWare_CustomerLockdown_Model_Resource</class>
            </customerlockdown_resource>
        </models>
        <resources>
            <customerlockdown_setup>
                <setup>
                    <module>MageWare_CustomerLockdown</module>
                    <class>MageWare_CustomerLockdown_Model_Resource_Setup</class>
                </setup>
            </customerlockdown_setup>
        </resources>
        <helpers>
            <customerlockdown>
                <class>MageWare_CustomerLockdown_Helper</class>
            </customerlockdown>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWare_CustomerLockdown>
                    <files>
                        <default>MageWare_CustomerLockdown.csv</default>
                    </files>
                </MageWare_CustomerLockdown>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <MageWare_CustomerLockdown>
                    <files>
                        <default>MageWare_CustomerLockdown.csv</default>
                    </files>
                </MageWare_CustomerLockdown>
            </modules>
        </translate>
        <events>
            <customer_customer_authenticated>
                <observers>
                    <customerlockdown_authenticated>
                        <class>customerlockdown/observer</class>
                        <method>checkCustomerLockdown</method>
                    </customerlockdown_authenticated>
                </observers>
            </customer_customer_authenticated>
            <controller_action_predispatch>
                <observers>
                    <customerlockdown_predispatch>
                        <class>customerlockdown/observer</class>
                        <method>checkPredispatchLockdown</method>
                    </customerlockdown_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>
